@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');
}

$font-family: Poppins, sans-serif;

$primary-color: #191BA9;
$secondary-color: #A1A2FE;
$terciary-color: #5CC2F2;

$shadow-color: #F3EAEA;

$background-color: #F7F3F3;

$default-text-color: #05011E;
$subtext-text-color: #313131;
$auxiliary-text-color: #ffffff;

*,
*::before,
*::after {
    box-sizing: border-box;

    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;

    padding: 0;
    margin: 0;
}

body {
    padding: 2rem 3rem;
}

header {
    margin-bottom: 3rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1.5rem;

    h1 {
        font-size: 1.5rem;

        a {
            text-decoration: none;
        }
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        gap: 1.5rem;

        li {
            a {
                text-decoration: none;
            }
        }

        & li:hover {
            text-decoration: underline;
        }
    }
}