.hero-section {
  display: flex;

  margin-top: 6rem;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  width: 50%;
}

.hero-title-wrapper h1,
p {
  margin: 0px;
}

.hero-title-wrapper h1 {
  font-size: 3rem;
}

.hero-title-wrapper p {
  color: #5F6368;
}

.hero-button-wrapper {
  display: flex;
  margin-top: 4rem;
}

.image-wrapper {
  width: 40%;
}

.image-wrapper img {
  width: 100%;
}