header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3rem;
}

.navigation {
    display: flex;
    align-items: center;

    height: 3rem;
}

header ul {
    display: flex;
    padding: 0px;
}

header ul li {
    list-style: none;
    margin-left: 1.5rem;
}

header ul li a {
    color: #5F6368;
    text-decoration: none;
}

header ul li a:hover,
header ul li a:focus {
    color: #3C4043;
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
