header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3rem;
}

.navigation {
    display: flex;
    align-items: center;

    height: 3rem;
}

header ul {
    display: flex;
    padding: 0px;
}

header ul li {
    list-style: none;
    margin-left: 1.5rem;
}

header ul li a {
    color: #5F6368;
    text-decoration: none;
}

header ul li a:hover,
header ul li a:focus {
    color: #3C4043;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-input {
    padding: 0.5rem 1rem;

    font-size: 1rem;
    
    outline: none;
    border: 1.5px solid #DADCE0;
    border-radius: 24px;

    /* posição do ícone */
    background: url("../assets/icons/Magnifier.png") no-repeat left;
    background-position: 0.5rem;
    background-size: 1.25rem;

    /* posição do texto */
    text-indent: 1.5rem;
}